# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

dataLog/

\.vscode/settings\.json

*.bin

*.ipch

admittance_control/\.vscode/

admittance_control/build/catkin/catkin_generated/version/

*.log

admittance_control/build/




admittance_control/\.clang-format

dual_arm_manipulation/\.vscode/
