<?xml version="1.0"?>
<launch>
	<!-- left arm -->
	<arg name="prefix_left" default="left_"/>
	<arg name="controller_name_left" default="left_controller"/>
	<arg name="robot_ip_left" default="192.168.1.101"/>
	<arg name="left_reverse_port" default="50001"/>
	<arg name="left_base_frame" default="$(arg prefix_left)base" />
	<arg name="left_tool_frame" default="$(arg prefix_left)tool0_controller" />
	<arg name="left_controllers" default="left_joint_state_controller left_force_torque_sensor_controller left_vel_based_pos_traj_controller"/>
	<arg name="left_stopped_controllers" default="left_pos_based_pos_traj_controller left_joint_group_vel_controller"/>
	
	<!-- right arm -->
	<arg name="prefix_right" default="right_"/>
	<arg name="controller_name_right" default="right_controller"/>
	<arg name="robot_ip_right" default="192.168.1.102"/>
	<arg name="right_reverse_port" default="50002"/>
	<arg name="right_base_frame" default="$(arg prefix_right)base" />
	<arg name="right_tool_frame" default="$(arg prefix_right)tool0_controller" />
	<arg name="right_controllers" default="right_joint_state_controller right_force_torque_sensor_controller right_vel_based_pos_traj_controller"/>
	<arg name="right_stopped_controllers" default="right_pos_based_pos_traj_controller right_joint_group_vel_controller"/>

	<arg name="limited" default="false"/>
	<arg name="min_payload" default="0.0"/>
	<arg name="max_payload" default="5.0"/>
	<arg name="use_lowbandwidth_trajectory_follower" default="false"/>
	<arg name="time_interval" default="0.008"/>
	<arg name="servoj_time" default="0.008" />
	<arg name="servoj_time_waiting" default="0.001" />
	<arg name="max_waiting_time" default="2.0" />
	<arg name="servoj_gain" default="100." />
	<arg name="servoj_lookahead_time" default="1." />
	<arg name="max_joint_difference" default="0.01" />
	<arg name="shutdown_on_disconnect" default="true" />

	<!-- dual_arm_robot model -->
	<include file="$(find dual_arm_robot_description)/launch/dual_arm_robot_upload.launch">
		<arg name="limited" value="$(arg limited)"/>
		<arg name="prefix_left" value="$(arg prefix_left)"/>
		<arg name="prefix_right" value="$(arg prefix_right)"/>
	</include>

	<!-- ur common -->
	<!-- Do not forget to add ns to cotrollers.yaml name -->
	<group ns="$(arg controller_name_left)">
		<remap from="joint_states" to="/joint_states"/>
		<include file="$(find ur_modern_driver)/launch/ur_common.launch">
			<arg name="robot_ip" value="$(arg robot_ip_left)"/>
			<arg name="reverse_port" value="$(arg left_reverse_port)"/>
			<arg name="min_payload" value="$(arg min_payload)"/>
			<arg name="max_payload" value="$(arg max_payload)"/>
			<arg name="prefix" value="$(arg prefix_left)" />
			<arg name="use_lowbandwidth_trajectory_follower" value="$(arg use_lowbandwidth_trajectory_follower)"/>
			<arg name="time_interval" value="$(arg time_interval)"/>
			<arg name="servoj_time" value="$(arg servoj_time)" />
			<arg name="servoj_time_waiting" default="$(arg servoj_time_waiting)" />
			<arg name="max_waiting_time" value="$(arg max_waiting_time)" />
			<arg name="servoj_gain" value="$(arg servoj_gain)" />
			<arg name="servoj_lookahead_time" value="$(arg servoj_lookahead_time)" />
			<arg name="max_joint_difference" value="$(arg max_joint_difference)" />
			<arg name="base_frame" value="$(arg left_base_frame)" />
			<arg name="tool_frame" value="$(arg left_tool_frame)" />
			<arg name="shutdown_on_disconnect" value="$(arg shutdown_on_disconnect)"/>
		</include>
		<rosparam file="$(find dual_arm_robot_driver)/config/left_controllers.yaml" command="load"/>
		<node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg left_controllers)" />
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load $(arg left_stopped_controllers)" />
	</group>

	
	<group ns="$(arg controller_name_right)">
		<remap from="joint_states" to="/joint_states"/>
		<include file="$(find ur_modern_driver)/launch/ur_common.launch">
			<arg name="robot_ip" value="$(arg robot_ip_right)"/>
			<arg name="reverse_port" value="$(arg right_reverse_port)"/>
			<arg name="min_payload" value="$(arg min_payload)"/>
			<arg name="max_payload" value="$(arg max_payload)"/>
			<arg name="prefix" value="$(arg prefix_right)" />
			<arg name="use_lowbandwidth_trajectory_follower" value="$(arg use_lowbandwidth_trajectory_follower)"/>
			<arg name="time_interval" value="$(arg time_interval)"/>
			<arg name="servoj_time" value="$(arg servoj_time)" />
			<arg name="servoj_time_waiting" default="$(arg servoj_time_waiting)" />
			<arg name="max_waiting_time" value="$(arg max_waiting_time)" />
			<arg name="servoj_gain" value="$(arg servoj_gain)" />
			<arg name="servoj_lookahead_time" value="$(arg servoj_lookahead_time)" />
			<arg name="max_joint_difference" value="$(arg max_joint_difference)" />
			<arg name="base_frame" value="$(arg right_base_frame)" />
			<arg name="tool_frame" value="$(arg right_tool_frame)" />
			<arg name="shutdown_on_disconnect" value="$(arg shutdown_on_disconnect)"/>
		</include>
		<rosparam file="$(find dual_arm_robot_driver)/config/right_controllers.yaml" command="load"/>
		<node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg right_controllers)" />
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load $(arg right_stopped_controllers)" />
	</group>

</launch>
