<?xml version="1.0"?>

<launch>

  <arg name="ip_left" default="192.168.1.101"/>
  <arg name="ip_right" default="192.168.1.102"/>
  <arg name="limited" default="false"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  <arg name="prefix_left" default="left_" />
  <arg name="prefix_right" default="right_" />
  <arg name="controller_name_left" default="left"/>
  <arg name="controller_name_right" default="right"/>

  <!-- dual_arm_robot model -->
  <include file="$(find dual_arm_robot_description)/launch/dual_arm_robot_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="prefix_left" value="$(arg prefix_left)"/>
    <arg name="prefix_right" value="$(arg prefix_right)"/>
  </include>
  
  <!-- ur5 left common -->
  <group ns="$(arg controller_name_left)">
    <remap from="joint_states" to="/joint_states"/>
    <include file="$(find ur_modern_driver)/launch/ur_common.launch">
      <arg name="prefix"  value="$(arg prefix_left)" />
      <arg name="robot_ip" value="$(arg ip_left)"/>
      <arg name="min_payload"  value="$(arg min_payload)"/>
      <arg name="max_payload"  value="$(arg max_payload)"/>
    </include>
  </group>

  <!-- ur5 right common -->
  <group ns="$(arg controller_name_right)">
    <param name="ur_driver/reverse_port" type="int" value="5002"/> <!-- must be set different to the instance of the ur5, default is 5001-->
    <remap from="joint_states" to="/joint_states"/>
    <include file="$(find ur_modern_driver)/launch/ur_common.launch">
      <arg name="prefix"  value="$(arg prefix_right)" />
      <arg name="robot_ip" value="$(arg ip_right)"/>
      <arg name="min_payload"  value="$(arg min_payload)"/>
      <arg name="max_payload"  value="$(arg max_payload)"/>
    </include>
  </group>

</launch>
