<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
	<!-- left arm -->
	<arg name="left_prefix" default=""/>
	<arg name="left_controller_name" default="left"/>
	<arg name="left_robot_ip" default="192.168.1.101"/>
	<arg name="left_reverse_port" default="50001"/>
	<arg name="left_base_frame" default="left_base" />
	<arg name="left_tool_frame" default="left_ee_link" />
	<arg name="left_controllers" default="left_joint_state_controller left_vel_based_pos_traj_controller left_force_torque_sensor_controller left_joint_group_vel_controller"/>
	<arg name="left_stopped_controllers" default="left_vel_based_admittance_traj_controller left_pos_based_pos_traj_controller left_joint_group_vel_controller"/>

	<!-- right arm -->
	<arg name="right_prefix" default=""/>
	<arg name="right_controller_name" default="right"/>
	<arg name="right_robot_ip" default="192.168.1.102"/>
	<arg name="right_reverse_port" default="50002"/>
	<arg name="right_base_frame" default="right_base" />
	<arg name="right_tool_frame" default="right_ee_link" />
	<arg name="right_controllers" default="right_joint_state_controller right_force_torque_sensor_controller right_vel_based_pos_traj_controller right_joint_group_vel_controller"/>
	<arg name="right_stopped_controllers" default="right_vel_based_admittance_traj_controller right_pos_based_pos_traj_controller right_joint_group_vel_controller"/>

	<arg name="limited" default="false"/>
	<arg name="min_payload" default="0.0"/>
	<arg name="max_payload" default="5.0"/>
	<arg name="max_velocity" default="10.0"/>
	<arg name="use_lowbandwidth_trajectory_follower" default="false"/>
	<arg name="time_interval" default="0.008"/>
	<arg name="servoj_time" default="0.008" />
	<arg name="servoj_time_waiting" default="0.001" />
	<arg name="max_waiting_time" default="2.0" />
	<arg name="servoj_gain" default="100." />
	<arg name="servoj_lookahead_time" default="1." />
	<arg name="max_joint_difference" default="0.01" />
	<arg name="shutdown_on_disconnect" default="true" />
	<arg name="config" default="true"/>

	<include file="$(find dual_arm_robot_description)/launch/dual_arm_robot_upload.launch">
		<arg name="limited" value="$(arg limited)"/>
		<arg name="prefix_left" value="$(arg left_prefix)"/>
		<arg name="prefix_right" value="$(arg right_prefix)"/>
	</include>
<!-- The argument prefix must be null, since the prefix of the links and joints has been defined in URDF.
	If redefining prefix, errors will come up as left_left_..._joint/link -->
	<group ns="$(arg right_controller_name)">
		<remap from="joint_states" to="/joint_states"/> 
		<node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="log" launch-prefix="$(arg launch_prefix)">
			<param name="robot_ip_address" type="str" value="$(arg right_robot_ip)"/>
			<param name="reverse_port" type="int" value="$(arg right_reverse_port)" />
			<param name="min_payload" type="double" value="$(arg min_payload)"/>
			<param name="max_payload" type="double" value="$(arg max_payload)"/>
			<param name="max_velocity" type="double" value="$(arg max_velocity)"/>
			<param name="use_ros_control" type="bool" value="True"/>
			<param name="servoj_gain" type="double" value="750" />
			<param name="prefix" value="$(arg right_prefix)" />
			<param name="base_frame" type="str" value="$(arg right_base_frame)"/>
			<param name="tool_frame" type="str" value="$(arg right_tool_frame)"/>
			<param name="shutdown_on_disconnect" type="bool" value="$(arg shutdown_on_disconnect)"/>
		</node>
		<rosparam file="$(find dual_arm_robot_driver)/config/right_controllers.yaml" command="load"/>
		<node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" 
				respawn="false" output="screen" args="$(arg right_controllers)" />
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load $(arg right_stopped_controllers)" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group> 
	<group ns="$(arg left_controller_name)">
		<remap from="joint_states" to="/joint_states"/> 
		<node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="log" launch-prefix="$(arg launch_prefix)">
			<param name="robot_ip_address" type="str" value="$(arg left_robot_ip)"/>
			<param name="reverse_port" type="int" value="$(arg left_reverse_port)" />
			<param name="min_payload" type="double" value="$(arg min_payload)"/>
			<param name="max_payload" type="double" value="$(arg max_payload)"/>
			<param name="max_velocity" type="double" value="$(arg max_velocity)"/>
			<param name="use_ros_control" type="bool" value="True"/>
			<param name="servoj_gain" type="double" value="750" />
			<param name="prefix" value="$(arg left_prefix)" />
			<param name="base_frame" type="str" value="$(arg left_base_frame)"/>
			<param name="tool_frame" type="str" value="$(arg left_tool_frame)"/>
			<param name="shutdown_on_disconnect" type="bool" value="$(arg shutdown_on_disconnect)"/>
		</node>
		<rosparam file="$(find dual_arm_robot_driver)/config/left_controllers.yaml" command="load"/>
		<node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" 
				respawn="false" output="screen" args="$(arg left_controllers)" />
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load $(arg left_stopped_controllers)" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	</group> 
</launch>
