<?xml version="1.0"?>
<launch>


	
	<!--Load and start -->
	<arg name="controllers" value= "ur5_cartesian_velocity_controller"/>
	<!-- Load but not start -->
	<arg name="stopped_controllers" value= "vel_based_pos_traj_controller"/>

    <!-- left arm -->
	<arg name="left_controller_name" default="left"/>

	<!-- right arm -->
	<arg name="right_controller_name" default="right"/>


	<!-- common variables -->
	<group ns="$(arg right_controller_name)">
	 	<!-- State Cartesian admittance controller -->
		<include file="$(find admittance_control)/launch/cpr_record_demo_node.launch">
			<arg name="prefix" value="$(arg right_controller_name)"/>
		</include>
		<!-- State Cartesian admittance controller -->
		<include file="$(find admittance_control)/launch/admittance_controller_real.launch">
			<arg name="prefix" value="$(arg right_controller_name)"/>
		</include>
     
	</group>
	<group ns="$(arg left_controller_name)">
	  	<!-- State Cartesian admittance controller -->
		<include file="$(find admittance_control)/launch/cpr_record_demo_node.launch">
			<arg name="prefix" value="$(arg left_controller_name)"/>
		</include>
		<!-- State Cartesian admittance controller -->
		<include file="$(find admittance_control)/launch/admittance_controller_real.launch">
			<arg name="prefix" value="$(arg left_controller_name)"/>
		</include>
     
	</group>

	

</launch>
