<?xml version="1.0"?>
<launch>
<!-- note: controllers.yaml in moveit_config has to be setup for specific controller -->
	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
	<!-- left arm -->
	<arg name="left_prefix" default=""/>
	<arg name="left_robot_ip" default="192.168.1.101"/>
	<!-- right arm -->
	<arg name="right_prefix" default=""/>
	<arg name="right_robot_ip" default="192.168.1.102"/>

	<arg name="limited" default="true"/>
	<arg name="config" default="true"/>

	<arg name="use_cart_vel_controller" default="false" />


    <!-- Loading the admittance parameters from a yaml file 
    <arg name="ROBOT_PARAMS_FILE" default="$(find dual_arm_robot_driver)/config/admittance_params_real.yaml" />
	-->
	<!-- dual_arm_robot bringup. including ros controllers -->
	<include file="$(find dual_arm_robot_driver)/launch/dual_arm_robot_bringup_ros_control.launch">
		<arg name="left_robot_ip" value="$(arg left_robot_ip)"/>
		<arg name="right_robot_ip" value="$(arg right_robot_ip)"/>
		<arg name="limited" value="$(arg limited)"/>
		<arg name="left_prefix" default="$(arg left_prefix)"/>
		<arg name="right_prefix" default="$(arg right_prefix)"/>
		<arg name="use_cart_vel_controller" default="$(arg use_cart_vel_controller)"/>
	</include>



	<!-- MoveIt! Setup -->
	<include file="$(find dual_arm_robot_moveit_config)/launch/dual_arm_robot_moveit_planning_execution.launch"/>
	<param name="move_group/trajectory_execution/allowed_start_tolerance" value="0.5" />

	<!-- rviz Setup -->
	<include file="$(find dual_arm_robot_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="$(arg config)"/>
	</include>

</launch>
