<?xml version="1.0"?>
<!-- note: controllers.yaml in moveit_config has to be setup for specific controller -->
<launch>
	<!-- robot_ip: IP-address of the robot's socket-messaging server -->
	<arg name="left_robot_ip" default="192.168.1.101"/>
	<arg name="right_robot_ip" default="192.168.1.102"/>
	<!-- UR5 right arm IP address -->
	<!-- for limited setup: make sure that both robots are in vailid position, otherwise ompl throws an error -->
	<arg name="limited" default="true"/>
	<arg name="min_payload" default="0.0"/>
	<arg name="max_payload" default="5.0"/>
	<arg name="left_prefix" default="left_"/>
	<arg name="right_prefix" default="right_"/>
	<arg name="config" default="true"/>



	<!-- dual_arm_robot bringup. including ros controllers -->
	<include file="$(find dual_arm_robot_driver)/launch/dual_arm_robot_bringup_ros_control.launch">
		<arg name="left_robot_ip" value="$(arg left_robot_ip)"/>
		<arg name="right_robot_ip" value="$(arg right_robot_ip)"/>
		<arg name="limited" value="$(arg limited)"/>
		<arg name="left_prefix" default="$(arg left_prefix)"/>
		<arg name="right_prefix" default="$(arg right_prefix)"/>
	</include>


	<!-- MoveIt! Setup -->
	<!-- dual arm robot planning execution 
	<include file="$(find dual_arm_robot_moveit_config)/launch/dual_arm_robot_moveit_planning_execution.launch"/>
	<param name="move_group/trajectory_execution/allowed_start_tolerance" value="0.5" />
-->
	<!-- dual arm robot rviz moveit 
	<include file="$(find dual_arm_robot_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="$(arg config)"/>
	</include>
-->
	<!-- Start force/torque sensor 
	<node name="ft_sensor" pkg="robotiq_ft_sensor" type="rq_sensor" respawn="true" output="screen"/>
-->

</launch>
